/* General Styles */
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    font-family: Arial;
    background-color: white;
}
#NavBar
{
    display: flex;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: black;
}
#NavBar a
{
    top: 20px;
    left: 50px;
    display: flex;
    padding: 14px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#MenuButton
{
    top:50px;
    right:500px;
    color: white;
    display: flex;
    font-size: 20px;
}
/* Welcome Section */
.welcome 
{
    background-image:url("I3.jpg");
    width: auto;
    height: 1000px;
    padding: 100px 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.welcome h1 
{
    color: white;
    margin-top: 250px;
    font-size: 48px;
    margin-bottom: 20px;
}

.welcome p 
{
    color:white; 
    font-size: 20px;
    margin-bottom: 30px;
}




.overlay /* For background */
{
    /* Can change heigth and width */ 
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1; /* Sit on the top of the webpage */
    left:0;
    top:0;
    background-color: rgb(0,0,0); /* transparent black fallback colour */
    background-color: rgba(0,0,0,0.9); /* Black with opacity */
    overflow-y: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* transition time for slide effect */
}

#overlay-content /* Positioning content inside the overlay */
{
    position: absolute;
    top:25%; /* 25% drop the top */
    width:100%;
    align-items: center;
    text-align: center;
    margin-top: 30px; /* To avouid conflict with the close button on smaller screens */
}

.overlay a
{
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition :0.3s;
}

/* For colour change when hovering over links */
.overlay a:hover, .overlay a:focus
{
    color: whitesmoke;
}

/* Position close button in top right */
.overlay .closebtn
{
    position: absolute;
    top:20px;
    right:45px;
    font-size: 60px;
}

/* To avoid overlapping on smaller screens */
@media screen and (max-height:450px)
{
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn
     {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}

/* About Section */
.description
{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-top: 25px;
}
.description h
{
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}
.description p
{
    font-size: 24px;
    margin-top: 20px;
    width: 500px;

}
.description > img
{
    border-radius: 10px;
    display: flex;
    width: 300px;
    height: 300px;
    margin-bottom: 60px;
}

.flex-container1
{
    margin-top: 100px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    font-size: 24px;
    flex-direction: row;
    margin-bottom: 10px;
}

.flex-container1 > div img /* CSS for image styling*/
{
    border-radius: 10px;
    display: flex;
    width: 300px;
    height: 300px;
}

.flex-container1 > div /* CSS for styling of box*/
{ 
    background-color: rgb(250,250,250);
    border: 1px ;
    border-radius: 10px;
    flex:1;
    font-size: 24px;
    line-height: 40px;
    margin: 10px;
    padding: 16px;
    width: 60px;
} 

.flex-container1 > div h
{
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

h1
{
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 20px;
}


/* Video */
#video
{
    font-size: 32px;
    max-width: 600px;
    margin: auto;    
    text-align: center;
}

.flex-container2
{
    background-color: white;
    border-radius: 10px;
    display: flex;
    margin-bottom: 10px;
}

.flex-container2 > div
{
    background-color: rgb(250, 250, 250); /* Slightly darker white background for flexbox boxes to create hovering affect*/
    border: 1px;
    border-radius: 10px;
    flex:1;
    font-size: 24px;
    line-height: 40px;
    margin: 10px;
    padding: 16px;
    width: 60px;
} 

.flex-container2 > div h
{
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

/* Footer */
footer 
{
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}
