/* General Styles */
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Light blue background */
    color: #333; /* Dark text color for readability */
}

/* Navigation Bar */
header 
{
    background-color: #007BFF; /* Blue color */
    padding: 10px;
}

header .logo a 
{
    color: white;
    font-size: 24px;
    text-decoration: none; /* removes the underline from smartinhaler logo */
    padding-left: 20px;
}

header .nav-links 
{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

header .nav-links li 
{
    margin-left: 20px;
}

header .nav-links a 
{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

header .nav-links a:hover 
{
    color: #ffd700; /* Yellow color on hover */
}

/* Welcome Section */
.welcome 
{
    background-color: #0099CC; /* Slightly darker blue */
    color: white;
    padding: 100px 20px;
    text-align: center;
}

.welcome h1 
{
    font-size: 48px;
    margin-bottom: 20px;
}

.welcome p 
{
    font-size: 20px;
    margin-bottom: 30px;
}

/* About Section */
#about 
{
    padding: 60px 20px;
    text-align: center;
    background-color: #e6f2ff; /* Light blue background for about section */
}

#about h2 
{
    font-size: 32px;
    margin-bottom: 20px;
}

#about p
{
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto;
}

/* Services */
#services 
{
    padding: 60px 20px;
    text-align: center;
    background-color: #ffffff;
}

#services h2 
{
    font-size: 32px;
    margin-bottom: 40px;
}

.service h3
{
    font-size: 24px;
    margin-bottom: 10px;
}

.service 
{
    background-color: #f0f8ff;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 30%;
    display: inline-block;
    text-align: left;
}

.service p 
{
    font-size: 16px;
}

/* Footer */
footer 
{
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}
